<mat-card class="mat-elevation-z2">

	<mat-card-header>
		<mat-card-title>
			Enerji Tüketim Grafiği
		</mat-card-title>
		<mat-card-subtitle>
			21.04.2019 - 22.04.2019
		</mat-card-subtitle>
	</mat-card-header>

	<mat-card-content  >

		<div fxLayout fxLayout.xs="row wrap" fxLayoutAlign="flex-start" class="tarih">
		
				<mat-form-field>
					<input matInput [matDatepicker]="picker1" placeholder="Başlangıç Tarihi Seçiniz">
					<mat-datepicker-toggle  matSuffix [for]="picker1"></mat-datepicker-toggle>
					<mat-datepicker #picker1></mat-datepicker>
				</mat-form-field>
			
			
				<mat-form-field >
					<input matInput [matDatepicker]="picker2" placeholder="Bitiş Tarihi Seçiniz">
					<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
					<mat-datepicker #picker2></mat-datepicker>
				</mat-form-field>
			
				<button  mat-raised-button style="background-color:#e2e2e2;color:#4682B4">Tamamla</button>
		
		</div>
<div id="chart-parent">
		<ngx-charts-bar-vertical [results]="single"(window:resize)="onResize($event)" [view]="view"
			[scheme]="{ domain: [ '#4682B4', '#B0C4DE', '#5F9EA0' ] }"
			[barPadding]="20" [xAxis]="true" [yAxis]="true" [xAxisLabel]="'Tarih'" [yAxisLabel]="'kWh'"
			[showXAxisLabel]="true" [showYAxisLabel]="true">
		</ngx-charts-bar-vertical>
</div>
	</mat-card-content>

</mat-card>

<!-- 
  Ayarlar Kısmı
  Bileşenin görüntülerken kullanacağı tarih aralığı SELECT ile seçilmeli
  - Son 1 Hafta, 
  - Son 1 Ay, 
  - Son 3 Ay ...

  Enerji Gösterimi
  - Tüketim Birimi
    - Watt
    - kWh
  - Para Birimi
    - TRL
    - USD
https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_optgroup
  Gösterilecek PowerMeters
  [x] Et Odası
  [x] Meyve Odası
  [x] Kiraz Soğutma
  [ ] Selim A.Ş.
  [x] Netlog 


  Data Modelleri 
  {
    enerjiTuketimKartAyarlari: {
      PowerMeters:{ id:1, alias:"" },
      Enerji: 4, //USD,
      Son: 2 // son 1 ay
    },
    DS:{
      PowerMEters:[{},{}...],
      Enerji:[{id:1, Alias:"Watt"},{...},...],
      SonGosterim:[{id:1, Alias:"Son 1 Hafta"},{...},...],
    }
  }


 -->